DestinySharpRewritten/DestinySharpRewritten/obj/Debug/netstandard1.4/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DestinySharpRewritten/DestinySharpRewritten/obj/Debug/netstandard1.4/DestinySharpRewritten.csproj.CoreCompileInputs.cache
DestinySharpRewritten/.vs/DestinySharpRewritten/v15/.suo
*.ide
DestinySharpRewritten/DestinySharpRewritten/obj/Debug/net452/DestinySharpRewritten.AssemblyInfo.cs
*.cache
DestinySharpRewritten/DestinySharpRewritten/obj/Debug/netstandard1.4/DestinySharpRewritten.AssemblyInfo.cs
*.props
DestinySharpRewritten/DestinySharpRewritten/obj/DestinySharpRewritten.csproj.nuget.g.targets
DestinySharpRewritten/DestinySharpRewritten/obj/Debug/netstandard1.4/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DestinySharpRewritten/DestinySharpRewritten/obj/Debug/net452/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DestinySharpRewritten/DestinySharpRewritten/obj/Debug/net452/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DestinySharpRewritten/DestinySharpRewritten/obj/Debug/netstandard1.4/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DestinySharpRewritten/DestinySharpRewritten/obj/Debug/net452/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.exe
DestinySharpRewritten/DestinySharpRewritten/obj/project.assets.json
DestinySharpRewritten/DestinySharpRewritten.Testing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.pdb
*.dll
*.csproj
*.config
DestinySharpRewritten/DestinySharpRewritten.Console/App.config
DestinySharpRewritten/DestinySharpRewritten.Console/App.config
DestinySharpRewritten/DestinySharpRewritten.Console/Properties/AssemblyInfo.cs
DestinySharpRewritten/DestinySharpRewritten.Testing/obj/Debug/DestinySharpRewritten.Testing.csproj.CopyComplete
DestinySharpRewritten/DestinySharpRewritten.Testing/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DestinySharpRewritten/DestinySharpRewritten.Testing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.txt
DestinySharpRewritten/DestinySharpRewritten/obj/project.assets.json