*.pdb
*.XML
*.dll
*.props
packages/MSTest.TestFramework.1.1.11/MSTest.TestFramework.1.1.11.nupkg
*.targets
DestinySharp/obj/Debug/netstandard1.6/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.cache
DestinySharp/obj/Debug/netstandard1.4/DestinySharp.csproj.FileListAbsolute.txt
DestinySharp/obj/Debug/netstandard1.4/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DestinySharp/obj/Debug/netstandard1.4/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DestinySharp/obj/Debug/netstandard1.6/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DestinySharp/Core/Enum/DestinyDefinitionType.cs
DestinySharp.Testing/obj/Debug/netcoreapp1.1/DestinySharp.Testing.Program.cs
DestinySharp.Testing/bin/Debug/netcoreapp1.1/DestinySharp.Testing.runtimeconfig.json
*.json
*.nupkg
DestinySharp.Testing/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DestinySharp/obj/DestinySharp.0.1.0.nuspec
DestinySharp/obj/Debug/netstandard1.6/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.txt
DestinySharp.Testing/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DestinySharp.Testing/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DestinySharp.Testing/obj/Debug/netcoreapp1.1/DestinySharp.Testing.AssemblyInfo.cs
.vs/DestinySharp/v15/.suo
DestinySharp/obj/Debug/netstandard1.4/DestinySharp.AssemblyInfo.cs
DestinySharp/obj/Debug/netstandard1.4/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DestinySharp/obj/Debug/netstandard1.6/DestinySharp.AssemblyInfo.cs
DestinySharp/DestinySharp.csproj
DestinySharp/DestinySharp.csproj
DestinySharp.Testing/obj/Debug/net452/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DestinySharp.Testing/obj/Debug/net452/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DestinySharp.Testing/obj/Debug/net452/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs